.question-editor-form.simple-editor-wrapper {
  width: 100%;
  height: auto;
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  overflow: hidden;

  .simple-editor-content {
    max-width: none;

    .tiptap.ProseMirror.simple-editor {
      min-height: 160px;
      max-height: 320px;
      padding: 1rem;
    }
  }
}
